{% extends parent_template %}

 {% block content %}


     <div class="row">
         <div class="col-lg-9">
             <h2 class="page-header">Messages</h2>


                <a href="{{ url('fos_message_inbox') }}">Inbox</a>
               <a href="{{ url('fos_message_sent') }}">Sent</a>
                <a href="{{ url('fos_message_deleted') }}">Deleted</a>


         </div>
         <!-- /.col-lg-12 -->
     </div>
     <!-- /.row -->

        {% block fos_message_content %}{% endblock %}

{% endblock %}

